html
    head
        meta(charset='utf-8')
        title visit article
        script(src='/ueditor/ueditor.config.js')
        script(src='/ueditor/ueditor.all.min.js')
        script(src='/ueditor/lang/zh-cn/zh-cn.js')
        script.
            let id = "#{id}";
            window.id = id;
            console.log('window.id = ', window.id);
    body
        div(id='app')
        script(src='/output/visit.js')
        